:root{
    --vermelho: #E50914;
    --preta: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*elementos base*/
body{
    background: var(--preta);
    font-family: 'times New Roman', 'Times New Roman', Times, serif;
    color: white;
}

header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color: #AAA;
    margin-right: 30px;
}

header nav a:hover{
    color: #fff;
}


/*filme principal*/
.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.0),rgba(0,0,0.0)120%), url(/img/capa.jpg);
     background-size:cover;
    height: 500px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}

.titulo{
    margin-top: 15%;
    font-size: 70px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0, 0, 0, 0.466);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 30px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.botao i{
    margin-right: 5px;
}

.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.carrosel-filmes .carrosel-series .box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrosel-filmes .carrosel-series{
    margin-top: 5px;
}
